name: Test Deployment

on:
  workflow_dispatch:

jobs:
  deploy-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
          aws-session-token:  ${{ secrets.AWS_SESSION_TOKEN }}

      - name: Terraform init & apply
        run: |
          cd terraform
          terraform init
          terraform apply -auto-approve

      - name: SSH to Test Server & Deploy app
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ steps.terraform.outputs.test_server_public_ip }}
          username: ubuntu
          key: ${{ secrets.AWS_SSH_KEY }}
          script: |
            docker pull myapp:test
            docker stop myapp || true
            docker rm myapp || true
            docker run -d -p 5000:5000 --name myapp myapp:test






